$base-color: color_variable(basecolor);

// This is just a quick example of how to create a custom Sass-based stylesheets

// Note how we are changing the overall style of buttons
// and also optimizing our the CSS download by removing unused components

// This must be compiled after it is edited, for more information, see
// http://www.sass-lang.org

@mixin radial-gradient($color-stops, $center-position: center center, $image: false) {
  @include background-image($image, radial-gradient($center-position, $color-stops));
}
@mixin linear-gradient($color-stops, $start: top, $image: false) {
  @include background-image($image, linear-gradient($start, $color-stops));
}

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-loading-spinner;

.x-msgbox-body{
    margin-top: 47px !important;
    color: white;
}

.x-fullscreen{
    background-color: lighten($base-color, 70) !important;
}

.title{
    color: darken($base-color, 10);
    padding: 5px !important;
    font-weight: bold;
    font-size: 15px !important;
}

.box-about{
    font-weight: bold;
    background-color: white;
    font-size: 15px !important;
    border: 1px solid darken($base-color, 40);;
    border-radius: 5px;
    color: darken($base-color, 10);
    width: 90%;
    padding: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.box-about li {
    list-style: circle;
    margin-left: 30px;
}
