!!!
%html
  %head
    %title GeoReview
    %script{:src => "/mobi/resources/sencha-touch-debug.js"}
  %body
  
    :javascript
        var phonegap = false;
        var splash_phone = '/mobi/resources/images/splash_460.png';
        var icon = 'mobi/resources/images/iconapp.png';
        
    %script{:src => "/mobi/app/app.js"}

    :javascript
        GeoReview.loadCss();

    %script{:src => "/mobi/app/models/Review.js"}

    %script{:src => "/mobi/app/controllers/MapController.js"}

    %script{:src => "/mobi/app/views/BackButton.js"}
    %script{:src => "/mobi/app/views/InsertReview.js"}
    %script{:src => "/mobi/app/views/ListReview.js"}
    %script{:src => "/mobi/app/views/MapContainer.js"}
    %script{:src => "/mobi/app/views/Viewport.js"}
    %script{:src => "/mobi/app/views/About.js"}
    %script{:src => "/mobi/app/views/Map.js"}

    %script{:src => "http://maps.google.com/maps/api/js?sensor=true"}
    %script{:src => "/mobi/resources/lib/label.js"}
