!!!
%html
  %head
    // the title is empty as it's setted by the js application
    %title
  
    %link{:rel => "stylesheet", :href => "/mobi/resources/css/sencha-touch.css", :type => "text/css" }
    %script{:src => "/mobi/resources/sencha-touch-debug.js"}
  %body
    %script{:src => "/mobi/app/app.js"}
    %script{:src => "/mobi/app/views/Viewport.js"}
    %script{:src => "/mobi/app/views/About.js"}
