!!!
%html
  %head
    // the title is empty as it's setted by the js application
    %title
  
    %link{:rel => "/mobi/resources/css/sencha-touch.css"}
    %script{:src => "/mobi/resources/sencha-touch-debug.js"}
  %body
    %script{:src => "/mobi/app/app.js"}
    %script{:src => "/mobi/app/views/Viewport.js"}
