!!!
%html
  %head
    // the title is empty as it's setted by the js application
    %title
  
  %body
    #hello Hello world!
    :javascript
      document.getElementById('hello').innerHTML='Hello world with javascript!'
